*.sublime-project
*.sublime-workspace
*.vscode
*.pyc
*.log
*.DS_Store
*.pkl
*.egg-info
__pycache__
dist
build
tmp
docs/_build
docs/config.rst
data
out
local_tests
.law
.ipynb_checkpoints
law_test.cfg
*_dev.py
coverage*.xml
.dmypy.json
.python-version
.coverage
.mypy_cache
.ruff_cache
.pytest_cache
