*.sublime-project
*.sublime-workspace
*.pyc
*.log
*.DS_Store
*.pkl
*.egg-info
__pycache__
dist
build
tmp
docs/_build
docs/config.rst
data
out
local_tests
.law
.ipynb_checkpoints
.vscode
MANIFEST.in
law_test.cfg
*_dev.py
.coverage
coverage*.xml
.dmypy.json
.python-version
.mypy_cache
