mypy~=1.19.0
flake8~=7.3.0
flake8-commas~=4.0.0
flake8-quotes~=3.4.0
pytest~=9.0.1
pytest-cov~=7.0.0;python_version>="3.9"
pytest-cov~=5.0.0;python_version<"3.9"
ipykernel~=7.1.0
types-docutils~=0.22.3
uniplot~=0.21.4
