mypy~=1.14.0
flake8~=7.1.1
flake8-commas~=4.0.0
flake8-quotes~=3.4.0
pytest~=8.3.4
pytest-cov~=5.0.0;python_version<"3.9"
pytest-cov~=6.0.0;python_version>="3.9"
ipykernel~=6.29.5
types-docutils~=0.21.0
