[modules]
tasks


[logging]
luigi-interface: INFO


[wlcg_fs]
; base uri of the storage, all target paths are relative to it
; by default, a local directory is used via the file:// protocol which is supported by gfal2 as well, so that the
; example runs without grid credentials; to use a real storage element, change it to e.g.
;   base: root://eosuser.cern.ch/eos/user/j/jdoe/law_example
;   base: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/jdoe/law_example
base: file://$WLCGEXAMPLE_PATH/data/storage

; retry failed operations once after 5 seconds
retries: 1
retry_delay: 5s

; enable a local cache of remote files, but do not use it by default
cache_root: $WLCGEXAMPLE_PATH/tmp/wlcg_cache
cache_max_size: 100MB
use_cache: False


[luigi_core]
local_scheduler: True
no_lock: True


[luigi_worker]
keep_alive: True
ping_interval: 20
wait_interval: 20
max_reschedules: 0


[luigi_scheduler]
retry_count: 0
